cd.Login {
    text-align: center;
  }
  
  body {
    background-color: #FFE5E5;
  }
  
  .heading {
    text-align: center; 
  }
  
  .login {
    text-align: center; 
  }
  
  .login-box {
    text-align: center; 
  }
  