cd.Login {
    text-align: center;
  }
  
  body {
    background-color: #FFE5E5;
  }
  
  .heading {
    text-align: center; 
  }
  
  .signup {
    text-align: center; 
  }
  
  .signup-box {
    text-align: center; 
  }
  
